.slick-prev:before {
    font-size: 40px;
    color: black;
}

.slick-prev {
    left: 30px;
    z-index: 9;
    top: 25%;
}

.slick-next:before {
    font-size: 40px;
    color: black;
}

.slick-next {
    right: 50px;
    z-index: 9;
    top: 25%
}

@media (max-width: 767px) {
    .slick-prev {
        top: 50%;
    }

    .slick-next {
        top: 50%;
    }
}